h1, h2, ul, li, img, p, body{
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", "Arial", "Sans Serif";
}

*{
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

:root{
    --pattern-size: 80rem;
    --pattern-margin: 0 auto;
}

.nav-container{
    max-width: 100%;
    margin: var(--pattern-margin);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5625rem 2.5rem;
}

.nav-links{
    display: flex;
    flex-wrap: wrap;
    gap: 1.4375rem;
}

.link-nav{
    font-size: 1.5rem;
    font-weight: 600;
    color:#777;
    text-transform: uppercase;
    padding: 0.625rem;
    border-radius: 0.25rem;
}

.link-nav:hover{
    background-color: #C2185B;
    color: white;
}


#banner{
    width:100%;
}

.section-style{
    max-width: var(--pattern-size);
    margin: var(--pattern-margin);
}

#titulo1 {
    text-align: center;
    margin-top: 4.25rem;
    font-weight: 800;
    font-size: 3.75rem;
}

.style-picture{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.375rem;
    padding-top: 5.125rem;
    padding-bottom: 12.875rem;
}


.off-bg{
    width: 100%;
    background: #C2185B;
}

.off-text{
    color: white;
    text-align: center;
    font-size: 2.75rem;
    font-weight: 800;
    padding-top: 3.75rem;
    text-transform: uppercase;
}

.off-container{
    max-width: var(--pattern-size);
    margin: var(--pattern-margin);
    display: flex;
    flex-wrap: wrap;
    gap: 1.125rem;
    padding-top: 3.375rem;
    padding-bottom: 6.25rem;

}

.off-itens{
    background-color: white;
}

.off-itens h2{
    font-size: 1rem;
    font-weight: 600;
    padding: 1.125rem 0 1px 0.6875rem;
    text-transform: uppercase;
}

.off-itens p{
    padding: 0 0 1.5625rem 0.6875rem;
    font-weight: 400;
}

.sandalia{
    background-color: white;
    width: 260px;
    height: 388px;
}